<div class="spell-check-cast-attribute flexrow" style="margin-bottom: 1em; gap: 2em;">
  <div class="resource flex-group-center">
    <label for="system.spellCheck.value" class="resource-label rollable" data-roll-category="Spell Check">Spell Check</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="number" name="system.spellCheck.value" value="{{system.spellCheck.value}}" data-dtype="Number" min="1" style="width: 60px;"/>
    </div>
  </div>

  {{#if (eq actor.type 'character')}}
  <div class="resource flex-group-center">
    <label for="system.castAbility" class="resource-label">Casting Attribute</label>
    <div class="resource-content flexrow flex-center flex-between">
      <select name="system.castAbility" data-dtype="String">
        <option value="burliness" {{#if (eq system.castAbility 'burliness')}}selected{{/if}}>Burliness</option>
        <option value="prowess" {{#if (eq system.castAbility 'prowess')}}selected{{/if}}>Prowess</option>
        <option value="endurance" {{#if (eq system.castAbility 'endurance')}}selected{{/if}}>Endurance</option>
        <option value="brains" {{#if (eq system.castAbility 'brains')}}selected{{/if}}>Brains</option>
        <option value="attitude" {{#if (eq system.castAbility 'attitude')}}selected{{/if}}>Attitude</option>
        <option value="sleaze" {{#if (eq system.castAbility 'sleaze')}}selected{{/if}}>Sleaze</option>
        <option value="fortune" {{#if (eq system.castAbility 'fortune')}}selected{{/if}}>Fortune</option>
      </select>
    </div>
  </div>
  {{#if system.class.spellPool}}
  <div class="resource flex-group-center">
    <label for="system.spellPool.value" class="resource-label rollable" data-roll-category="Spell Pool">Spell Pool</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="number" name="system.spellPool.value" value="{{system.spellPool.value}}" data-dtype="Number" min="0" style="width: 60px;"/>
    </div>
  </div>
  <div class="resource flex-group-center">
    <label for="system.spellPool.remaining" class="resource-label">Remaining</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="number" name="system.spellPool.remaining" value="{{system.spellPool.remaining}}" data-dtype="Number" min="0" style="width: 60px;"/>
    </div>
  </div>
  {{/if}}
  {{/if}}
</div>
<ol class='items-list'>
  {{#each spells as |spells spellLevel|}}
    <li class='item flexrow items-header'>
      <div class='item-name'>
        {{localize 'NEON_LORDS.Item.Spell.SpellLVL' level=spellLevel}}
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-create'
          title='{{localize "DOCUMENT.Create" type='Spell'}}'
          data-type='spell'
          data-spell-level='{{spellLevel}}'
        >
          <i class='fas fa-plus'></i>
          {{localize 'NEON_LORDS.Item.Spell.AddLVL' level=spellLevel}}
        </a>
      </div>
    </li>
    {{#each spells as |item id|}}
      <li class='item flexrow' data-item-id='{{item._id}}'>
        <div class='item-name flexrow'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item'><img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              /></a>
          </div>
          <h4><a class='rollable spell-check' data-roll-category="Spell Check" data-roll-item-id='{{item._id}}' title='Cast {{item.name}}'>{{item.name}}</a></h4>
        </div>
        <div class='item-controls'>
          <a
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Edit" type='spell'}}'
          >
            <i class='fas fa-edit'></i>
          </a>
          <a
            class='item-control item-delete'
            title='{{localize "DOCUMENT.Delete" type='spell'}}'
          >
            <i class='fas fa-trash'></i>
          </a>
        </div>
      </li>
    {{/each}}
  {{/each}}
</ol>
